h1{
    color: aliceblue;
    text-align:center;
    background-color: fuchsia ;
}
h3{
    color: aliceblue;
    text-align:center;
    background-color: cornflowerblue;
}
table{
  background-color: azure;
}
ol{
    background-image: url("../images/05.jfif");
}
body{
    background-image:url("../images/08.jfif");
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}