div.wrap{
    width: 1000px;
    height: 1000px;
    margin: 0px auto;
}
div.title{
    width: 1000px;
    height: 50px;
    background-color:orange;
    font-size: 30px;
    font-family: "Impact";
    margin-bottom: 40px;
}
div.under{
    width: 1000px;
    height: 40px;
    background-color: gainsboro;
    text-align: center;
    font-size: 30px;
    font-family: "Impact";
    margin-top: 20px;
}
div.center{
    width: 1000px;
    height: 670px;
    background-color: aquamarine;
}
div.menu{
    width: 1000px;
    height: 40px;
    background-color: gray;
    margin-bottom: 20px;
}
span.menuitem{
    display: inline-block;
    vertical-align: top;
    width: 240px;
    height: 50px;
    background-color: cornsilk;
    text-align: center; 
    font-size: 20px;
    font-family: "Impact";
    border: 5px double black ;
}
div.coment{
    width: 600px;
    height: 500px;
    margin-left: 200px;
    background-color: greenyellow;
    font-size: :20px;
    font-family: Impact;
    border: 5px double black;
}
body{
    background-image:url("../images/01.jifi.jpg");
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}